main{
    background-color: #F2F2F2;
    padding-top: 170px;
}
.main_container {
    
}
.home_container {
}

.home{
    margin-bottom: 116px;
    display: flex;
    flex: 0 1 auto;

}
.home_content {
    flex: 0 1 50%;
    flex-direction: column;
    padding: 0 10px;
}

.title {
    font-size: 60px;
    line-height: 70px;
    color: #121212;
    margin-bottom: 36px;
}

.text {
    color: #838383;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 36px;
}

.home_button {
    padding: 10px 20px;
    background-color: #ff8f52;
    border-radius: 5px;
    color: #fff;
}

.home_images {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
    justify-content: center;
}

.home_images img {
    width: 150px;
    margin: 0 20px 20px 0;
}

.about_container{

}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 130px;
    /* margin-bottom: 100px; */
}

.subtitle{
    font-size: 32px;
    line-height: 38px;
    position: relative;
    margin-bottom: 25px;
}

.subtitle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -125%;
    height: 2px;
    width: 165px;
    background-color: #d9d9d9;
}
.subtitle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 125%;
    height: 2px;
    width: 165px;
    background-color: #d9d9d9;
}

.comments_container{
display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block{
    width: 250px;
    height: 250px;
}
@media (max-width: 775px) {
    main {
        padding-top: 120px;
    }
    .title{
        font-size: 42px;
        line-height: 60px;
    }
}