footer {
    background-color: #454545;
}

.top {
    padding: 55px 0;
}

.footer_container {
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column {
    flex: 0 1 auto;
    padding: 15px 15px;
}

.column:first-child {
    flex: 0 1 30%;
}

.column:last-child {
    flex: 0 1 33.333%;
}
.column:not(:last-child) {
    margin-right: 50px;
}

.logo {
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    cursor: pointer;
}

.text {
    color: #d9d9d9;
    font-size: 18px;
    line-height: 30px;
}

.title {
    color: #fff;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav a {
    color: #d9d9d9;
    margin-bottom: 15px;
}

.nav a:hover {
    text-decoration: underline;
}

.contacts{
    display: flex;
    flex-direction: column;
}

.contacts_item{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.contacts_item img{
    object-fit: contain;
    margin-right: 12px;
}

.subtext{
    color: #d9d9d9;
    font-size: 18px;
line-height: 21px;
}